In [ ]:
len()

In [1]:
# Built-in functions

abs(50)

50

In [2]:
abs(-50)

50

In [8]:
# Check if all items in a list are True

mylist = [True, True, True]
x = all(mylist)
print(x)

True

In [2]:
any([-1,0,1,2,3,4])

True

In [7]:
all([1,2,4])

True

In [5]:
all((3,2,4))

True

In [11]:
any((1.7,False))

True

In [10]:
# Check if any of the items in a list are True

mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [13]:
any((True,1))

True

In [2]:
bin(10)

'0b1010'

In [13]:
oct(15)

'0o17'

In [14]:
hex(29)

'0x1d'

In [ ]:
# bool() , int() , float(), tuple(),list(), set() , dict() , float() ,str()

In [16]:
chr(97)

'a'

In [15]:
chr(66)

'B'

In [17]:
ord("A")

65

In [ ]:
dir(())

In [19]:
dir(list())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [20]:
eval("hello")

NameError: name 'hello' is not defined

In [21]:
eval("print('3 + 2')")

3 + 2

In [3]:
print(eval('1+2'))
print(eval("max([1, 2, 3, 4])"))

3
4

In [12]:
a = frozenset({1,2,3,4,5,6})
a

frozenset({1, 2, 3, 4, 5, 6})

In [15]:
help(list())

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [26]:
max([20,30,700])

700

In [27]:
min([20,30,700])

20

In [21]:
pow(2,3)

8

In [28]:

print(list(reversed([1,2,4,5,6])))

[6, 5, 4, 2, 1]

In [2]:
import math

C = 117.3

print(math.ceil(C))

round(C)

118

117

In [29]:
sorted([5,2,7,9,10,11])  #A-Z

[2, 5, 7, 9, 10, 11]

In [30]:
sorted([5,2,7,9,10,11] , reverse=True)  # - Z-A

[11, 10, 9, 7, 5, 2]

In [24]:
sum((34,5,2,5,2))

48

In [26]:
type("Hi")

str

In [31]:
k = ['id','name']

v = [12,'Mayur',23] 

dict(zip(k,v))

{'id': 12, 'name': 'Mayur'}

In [26]:
# Create an iterator, and print the items one by one:

mylist = iter(["apple", "banana", "cherry"])
x = next(mylist)
print(x)
x = next(mylist)
print(x)
# x = next(mylist)
# print(x)

apple
banana

In [1]:
def abc(a,b):
    add = a + b
    print(add)
    return add
    


bcd = abc(5,6)
print(bcd)

11
11

In [7]:
# Python program to demonstrate working
# of map.

# Return double of n
def addition(numbers):
    

	add = numbers + numbers
	print(add)
	return add


# We double all numbers using map()
# num = input()
numbers = (1, 2, 3, 4)

# result = map(addition, numbers)

# list(result)

# for i in numbers:

out_put  = addition(numbers)

if out_put > 5: 
	print(out_put)


# print(out_put)

(1, 2, 3, 4, 1, 2, 3, 4)

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [6]:
# Return double of n
def addition(n):
	# print(n)
	add = 0
	for  i in n:
		add += i 
	print(add)
	# return add

# We double all numbers using map()

sum_of_number =  addition([1, 1, 3, 5])

if sum_of_number == 10 :
	print("hello")
else:
	pass
# sum_of_number

10

In [5]:
# # UDF 
# # defining function
def rnw():  # TNRN
    
    for i in range(2):
        # import time 
        # time.sleep(5)
      
        print("Hello - My Name is Vaishnav Mayur")
        print("Hello - I am Working With Rnw")
    
# calling  function
rnw()

Hello - My Name is Vaishnav Mayur
Hello - I am Working With Rnw
Hello - My Name is Vaishnav Mayur
Hello - I am Working With Rnw

In [6]:
# defining function
def rnw_1(x , y):   # TSRN
    print(F'Total Sum is {x + y}')

    # return x + y

    
    
# calling  function
print(rnw_1(20,2.5))

Total Sum is 22.5
None

In [6]:
print(rnw_1(20,30)) # parameters / arguments

Total Sum is 50
None

In [11]:
# defining function
def rnw_2():   # TNRS
    a  = int(input())
    b =  int(input())
    return a + b 
    
    
# calling  function
print(rnw_2())

3

In [33]:
f1 = rnw_2()
print(f1)

8

In [8]:
# defining function
def cube(n):   # TSRS
    print(n**3)
    return n ** 3 
    
# calling  function
# print(cube(10))

f1 = cube(10)

if f1 > 20:
    print("True")
print(f1)

1000
True
1000

In [1]:
# *args 

def new_df(x,y,z):
    print(x,y,z)

new_df(1,2,3,4)

TypeError: new_df() takes 3 positional arguments but 4 were given

In [ ]:
# *args  - return type tuple - *args (Non-Keyword Arguments)

def new_df(*args):
    mal = 1  
    for i in args:
        mal += i
    # print(mal)
    return mal

mal = new_df(1,2,3,4,5)

print(mal)

if mal > 5040:
    print()
else:
    print()


# value_1 = new_df(1,2,3,4,5)




if mal:
    print("mal value got")
else:
    print("mal is empty")

16
mal value got

In [ ]:
# **kwargs  - return type dict - **kwargs (Keyword Arguments)

def new_df(**kwargs):  
    # print(kwargs)
    p = []
    for i in kwargs.items():
        p.append(i)

    return p
        # print(i)

    

avr  = new_df(sid = 1 , age = 32 , fname = 5 , lname = 6) 
print(avr)
# new_df(1 , 32 , 5 ,6)

[('sid', 1), ('age', 32), ('fname', 5), ('lname', 6)]

In [6]:
# Both  *args, **kwargs same Time

def new_df(*args , **kwargs ):

    '''
        This is only simple  Functions
        This is only simple  Functions - part 1

    '''  
    print(new_df.__doc__)
    print(args,kwargs)

    # for i in range(0,1000):
    #     print(i)

new_df(1,2,3,4,5,6,7,8,sid = 1 , age = 32)

        This is only simple  Functions
        This is only simple  Functions - part 1


(1, 2, 3, 4, 5, 6, 7, 8) {'sid': 1, 'age': 32}

In [ ]:
# _ - Document String

def new_df(*args , **kwargs):

    '''
This is only simple  Functions
This is only simple  Functions - part 1

    '''


    print(args,kwargs)

    # for i in kwargs:
    #     print(i)


print(new_df.__doc__)

# print(new_df(1,2,3,4,5,6,7,sid = 1 , age = 32))

This is only simple  Functions
This is only simple  Functions - part 1

In [ ]:
# Global keyword

# Global area

d = 10

def mayur():
    # local area
    d = 20
    print(d)




print(d)

mayur()

10
20

In [ ]:
# Global keyword

# Global area

d = 20

def mayur():
    # local area
    global d 
    d = 25
    print("local variable" , d)

print(d)

mayur()

print(d)

20
local variable 25
25

In [1]:
# Global keyword with 2 variable

# Global area

d = 10
c = 50

def mayur():
    # local area
    # print("global--" , d , c)
    # global d , c
    # global c
    d = 20
    c = 120
    print("local variable" , d ,c)

def xyz():
    print("local variable" , d ,c)



# mayur()

# print("global--" , d , c)

mayur()

xyz()

# print(d , c)

local variable 20 120
local variable 10 50

In [ ]:
# Return multiple values (Tuple unpacking)

def demo():
    print("Hello")

def Return_multiple_values(a,b):
    a , b  = a , b
    # b = b  
    c = 7
    x1 = demo()
    return a , b , c
    # return b 

a , b , _  =  Return_multiple_values(3,5) 

print(a , b)

Hello
3 5 7

In [ ]:
# Function recursion (Function Call itself) 

def xyz(a):  # a = 5 , 4 , 3 , 2 , 1 
    if a <= 1:
        return 1
    else:
        print(a)
        return a *  xyz(a - 1)  #  5  * fact(4)    #  5 * 24  = 120
                                #  4  * fact(3)    #  4 * 6   =  24
                                #  3  * fact(2)    #  3 * 2   =   6
                                #  2  * fact(1)    #  2 * 1   =   2
    
                                   
n = int(input("Enter any num : - "))    
print(xyz(n))

5
4
3
2
120

In [22]:
def a():

    p = []

    while True:
        p.append("hello")
        a()

    return p

p = a()
print(len(p))

RecursionError: maximum recursion depth exceeded

In [ ]:
# Anonymous_Lambda function - function without name

# lambda arguments : expression

def square(n):
    return n ** 2

print(square(5))

25

In [8]:
# Lambda function with if-else

square = lambda x : x**2 if(x > 0) else None

print(square(5))

25

In [9]:
# Example of lambda function using if-else
max = lambda a, b : a if(a > b) else b

print(max(1, 2))

print(max(10, 2))

2
10

In [ ]:
# Iterating With Python Lambdas 

# list of numbers 
l1 = [4, 2, 13, 21, 5] 

# list of square of numbers 
# lambda function is used to iterate 
# over list l1 
l2 = list(map(lambda v: v ** 2, [16, 4, 13, 21, 5])) 

# print list 
print(l2)

[256, 16, 169, 441, 25]

In [3]:
# square_1 = lambda n : n ** 2

# print(square_1(5)) 

add = lambda a  : a * a 

print(add(5))

25

In [ ]:
# Program to add two matrices using nested loop - 1D & 2D array with list

# 1D
x1  = [89,65,23,10,45,88,25,37]

# 2D

X2  = [[10,20,30],
       [40,50,60],
       [70,80,90]]

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# print(len(X))
# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]
       
print(result)
       

# for r in result:
#     print(r)

[[17, 15, 4], [10, 12, 9], [11, 13, 18]]

In [12]:
x1

[89, 65, 23, 10, 45, 88, 25, 37]

In [1]:
# Sorting collection datatypes (sort() method of list and sorted() function)

# sorted() function

l1 = [89,65,23,10,45,88,25,37]


print(sorted(l1))

l2 =  (89,65,23,10,45,88,25,37)

print(sorted(l2))

[10, 23, 25, 37, 45, 65, 88, 89]
[10, 23, 25, 37, 45, 65, 88, 89]

In [2]:
# sort() method of list

l3 = [89,65,23,10,45,88,25,37]

l3.sort()

print(l3)

l4 =  {89,65,23,10,45,88,25,37}

print(l4.sort())

[10, 23, 25, 37, 45, 65, 88, 89]

AttributeError: 'set' object has no attribute 'sort'

reverse()
In-place operation: The reverse() method reverses the elements of a list in place, meaning that it modifies the original list.

Return Value: It returns None (since it modifies the list directly).

Usage: It’s used when you want to reverse the elements of the list itself.

In [1]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

reversed()
Returns an Iterator: The reversed() function returns an iterator that accesses the elements of the sequence in reverse order.

Non-modifying: It does not modify the original sequence.

Works with Any Sequence: reversed() works with any sequence type (like lists, tuples, strings, etc.), not just lists.

Usage: It’s useful when you need to iterate over a sequence in reverse without altering the original sequence.

In [10]:
my_list = {1, 3, 4, 2, 1}
rev_list = list(reversed(my_list))
print(rev_list)  # Output: [5, 4, 3, 2, 1]
print(my_list)   # Output: [1, 2, 3, 4, 5] (original list remains unchanged)

TypeError: 'set' object is not reversible

Key Differences:
Modification: reverse() modifies the list in place; reversed() does not modify the original sequence.
Return Type: reverse() returns None; reversed() returns an iterator.
Applicability: reverse() is specific to lists; reversed() works with any sequence.