# String

In [65]:
n = 3

s = 'Value is n'
s

'Value is n'

In [66]:
s = 'Value is %d' % n
s

'Value is 3'

In [67]:
s = 'Value is %f' % n
s

'Value is 3.000000'

In [68]:
n1 = 5
n2 = "Rnw"

s1 = 'Name is %d and other data is %s' % (n1,n2)
s1

'Name is 5 and other data is Rnw'

In [69]:
c1 = 3
c2 = 5

p1 = "Hello Add two values {} + {} ".format(c2,c1) # positional arguments
p1

'Hello Add two values 5 + 3 '

In [70]:
t2 = 5
t1 = "Hello Add two values {1} + {0} + {1}".format(c1,c2) # positional arguments
print(t1)
print(t2)

Hello Add two values 5 + 3 + 5
5

In [71]:
d1 = "Hello Add two values {key1} + {key2} + {key1}".format(key1=c1,key2=c2) # positional arguments
d1

'Hello Add two values 3 + 5 + 3'

In [72]:
name = "RNW"
age = 14

r1 = f'Your {age} ---- {name}'

print(r1)
# print(r2)

Your 14 ---- RNW

In [73]:
r2 = f'my data {3+5} and {age}'
r2

'my data 8 and 14'

**String manipulation**

In [74]:
l1  = "Red"
l2  = "White"

l3  = l1 + " " + l2
l3

'Red White'

In [75]:
e1 = "Red " * 10
e1

'Red Red Red Red Red Red Red Red Red Red '

In [76]:
f1 = "red "

f1 += "white" 

f3 = f1

f3

'red white'

In [77]:
g1 = "Vaishnav  Mayur"

print(len(g1))

15

In [78]:
e1 = "vaishnav Mayur"

print(e1.find("Mayur"))

print(e1.find("v" , 1))

9
7

In [79]:
print(e1.upper())
print(e1.title())
print(e1.capitalize())
print(e1.lower())

VAISHNAV MAYUR
Vaishnav Mayur
Vaishnav mayur
vaishnav mayur

In [80]:
k1 = "Red and white Multimedia  and  Education"


print(k1.replace("and" , "y"))
print(k1)

Red y white Multimedia  y  Education
Red and white Multimedia  and  Education

In [81]:
print(k1[0])
print(k1[-1])

R
n

In [82]:
print(k1[::])
print(k1[4:15:2])

Red and white Multimedia  and  Education
adwieM

In [83]:
print(k1[4:10:2])
print(k1[0:])
print(k1[:])

adw
Red and white Multimedia  and  Education
Red and white Multimedia  and  Education

In [84]:
print(k1[::-1])
print(k1[0::2])
print(k1[::])

noitacudE  dna  aidemitluM etihw dna deR
RdadwieMliei ad dcto
Red and white Multimedia  and  Education

In [85]:
# x1  = "Red and white Multimedia "Education ""

x1  = "Red and white Multimedia\"Education \""
x1

'Red and white Multimedia"Education "'

In [86]:
print('Hello \t STechies')

Hello 	 STechies

In [87]:
# Declare a List
mystring = "Hello\n\
This is\n\
Stechies\n\
for,\t\
Tech tutorials."

# Print string
print(mystring)

Hello
This is
Stechies
for,	Tech tutorials.

In [88]:
#  "multi-line" Strings

mystring = """Hello
This is
Stechies
for,
Tech tutorials."""

# Print string
print(mystring)

Hello
This is
Stechies
for,
Tech tutorials.

In [89]:
# List Datatype



list1 = ["abc", 34, True, 40, "male" , ['abc', 34,[45,60]]]

# m = list1[5]
# m[0::]
list1

['abc', 34, True, 40, 'male', ['abc', 34, [45, 60]]]

In [90]:
print(type(list1))

<class 'list'>

In [91]:
list1[1]

34

In [92]:
list1

['abc', 34, True, 40, 'male', ['abc', 34, [45, 60]]]

In [93]:
list1[5][2][0]

45

In [94]:
list1

['abc', 34, True, 40, 'male', ['abc', 34, [45, 60]]]

In [95]:
["abc", 34, True, 40, "male",['abc', 34]]

['abc', 34, True, 40, 'male', ['abc', 34]]

In [96]:
list1[0:4:2]  # strt:end:steparg

['abc', True]

In [97]:
list1[1] = 90
list1

['abc', 90, True, 40, 'male', ['abc', 34, [45, 60]]]

In [98]:
list1.pop()  # Remove date from Last in list
list1

['abc', 90, True, 40, 'male']

In [99]:
list1.append("Mayur Vaishnav") # Add Data in list 
list1

['abc', 90, True, 40, 'male', 'Mayur Vaishnav']

In [100]:
list1.append([5,7,9]) # Add Data in list 
list1

['abc', 90, True, 40, 'male', 'Mayur Vaishnav', [5, 7, 9]]

In [101]:
list1.clear() # clear list
list1

[]

In [102]:
l2 = [1,2,3,4,5,6]

In [103]:
list1.extend(l2)
list1

[1, 2, 3, 4, 5, 6]

In [104]:
a = ['geeks', 'for']
b = [6, 0, 4, 1]

# Add all element of 'b' at the end of 'a'
a.extend(b)

print(a)

['geeks', 'for', 6, 0, 4, 1]

In [105]:
l2.sort()
l2

[1, 2, 3, 4, 5, 6]

In [106]:
l2.sort(reverse=True)
l2

[6, 5, 4, 3, 2, 1]

In [107]:
l2.pop(0)
l2

[5, 4, 3, 2, 1]

In [108]:
l2.remove(5)
l2

[4, 3, 2, 1]

In [109]:
l1 = [1,2,3,4,5,6]

l2 = l1   # SHallow

l2

[1, 2, 3, 4, 5, 6]

In [110]:
l1.pop(2)

l1

[1, 2, 4, 5, 6]

In [111]:
l2

[1, 2, 4, 5, 6]

In [112]:
l2.pop()

l2

[1, 2, 4, 5]

In [113]:
l1

[1, 2, 4, 5]

In [114]:
# Python program to illustrate the difference between shallow and deep copy
import copy


class Car:
    def __init__(self, name, colors):
        self.name = name
        self.colors = colors


# Create a Honda car object
honda_colors = ["Red", "Blue"]
honda = Car("Honda", honda_colors)

# Deepcopy of Honda
deepcopy_honda = copy.deepcopy(honda)
deepcopy_honda.colors.append("Green")
print("Original:", honda.colors)
print("Deepcopy:", deepcopy_honda.colors)
# print("Original:", honda.colors)

# Shallow Copy of Honda
copy_honda = copy.copy(honda)
copy_honda.colors.append("Green")

print("Original:", honda.colors)
print("Shallow Copy:", copy_honda.colors)

Original: ['Red', 'Blue']
Deepcopy: ['Red', 'Blue', 'Green']
Original: ['Red', 'Blue', 'Green']
Shallow Copy: ['Red', 'Blue', 'Green']

In [115]:
# shallow Copy

l3 = [200,500,100,300 ,500]

l4 = l3.copy()

In [116]:
l4

[200, 500, 100, 300, 500]

In [117]:
l4.append(580)

l4

[200, 500, 100, 300, 500, 580]

In [118]:
l3

[200, 500, 100, 300, 500]

In [119]:
len(l3)

5

In [120]:
l3.reverse()

In [121]:
l3

[500, 300, 100, 500, 200]

In [122]:
l3.count(500)

2

In [123]:
l3.insert(1,45)
l3.insert(6,700)

In [124]:
l3

[500, 45, 300, 100, 500, 200, 700]

In [125]:
# Set
thisset = {"apple", "banana", "cherry", 1,2,3,1}
print(thisset)

{1, 2, 3, 'banana', 'apple', 'cherry'}

In [126]:
thisset[0]

TypeError: 'set' object is not subscriptable

In [ ]:
A = [2,6,3,8,2,4]

A1 = list(set(A))

A1

[2, 3, 4, 6, 8]

In [ ]:
# Set 

A = {2,6,3,8,2,4}

B = {6,2,8,1,7,0,3}

print(B.intersection(A))
print(B.union(A))

{8, 2, 3, 6}
{0, 1, 2, 3, 4, 6, 7, 8}

In [ ]:
B.difference(A)

B

print(A-B)

print(B-A)

{4}
{0, 1, 7}

In [ ]:
A.update([5 , 6 ,7])

A

A.remove(5)

A

{2, 3, 4, 6, 7, 8}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

print(x.intersection_update(y))

None

In [175]:
#  Tuple
thistuple = ("apple", "banana", "cherry", "apple", "cherry" , 1)
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry', 1)

In [176]:
type(thistuple)

tuple

In [177]:
thistuple[1]

'banana'

In [178]:
thistuple[-1]

1

In [ ]:
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}

A.symmetric_difference_update(B)
print(A)
# Prints {'blue', 'orange', 'green', 'yellow'}

{'blue', 'green', 'yellow', 'orange'}

In [179]:
thistuple[1] = 1
thistuple

TypeError: 'tuple' object does not support item assignment

In [180]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry', 1)

In [181]:
thistuple.count("apple")

2

In [183]:
thistuple.index("apple")

0

In [184]:
thistuple.index("apple", 1)

3

In [16]:
# type of tuple

# t1 = (5)

t1 = (5,)

# t1  =  8,9,10,20

# t1 =  9

print(type(t1))

<class 'int'>

In [1]:
# Dict

thisdict = { "brand" : "Ford", "model","Mustang", "year"}

print(thisdict)

SyntaxError: ':' expected after dictionary key (98165502.py, line 3)

In [187]:
r1 = thisdict.get('brand')

r1

'Ford'

In [ ]:
scores = {
    'Physics': 67, 
    'Maths': 87,
    'History': 75
    }

result = scores.get('Physics')

print(result)

67

In [ ]:
thisdict = dict(name = "John", age = 25, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 25, 'country': 'Norway'}

In [ ]:


thisdict['collage'] = 15
thisdict['collage'] = 13
thisdict['collage'] = 25
thisdict

{'name': 'John', 'age': 25, 'country': 'Norway', 'collage': 25}

In [ ]:
thisdict['year']

'Ford'

In [ ]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964, 13])

In [ ]:
thisdict.keys()

dict_keys(['brand', 'model', 'year', 'collage'])

In [ ]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('collage', 13)])

In [ ]:
thisdict.pop('brand')

'Ford'

In [ ]:
len(thisdict)

5

In [ ]:
thisdict.clear()
thisdict

{}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.pop('model')

car

{'brand': 'Ford', 'year': 1964}

In [ ]:
p1 = [1,2,3,4,5,2]

p1.count(2)

2

In [189]:
# comments

print("Hello Mayur Vaishnav")

# print("Hello Red and white")

Hello Mayur Vaishnav

In [ ]:
print("Hello Mayur Vaishnav")

""" print("Hello Mayur Vaishnav")

print("Hello Mayur Vaishnav")"""

print("Hello Mayur Vaishnav")

print("Hello Mayur Vaishnav")

Hello Mayur Vaishnav
Hello Mayur Vaishnav
Hello Mayur Vaishnav

In [194]:
# Type casting for collection data type

p1 = [1,2,3,4,5,6]

p1

[1, 2, 3, 4, 5, 6]

In [ ]:
f1  =  tuple(p1)

# f1.remove(2)

f1

(1, 2, 3, 4, 5, 6)

In [ ]:
f5  = list(f1)

f5.pop(-1)

f5

[1, 3, 4, 5]

In [ ]:
f1.pop()
f1

{3, 4, 5, 6}

In [ ]:
type(f1)

set

In [ ]:
p1[::-1]

[6, 5, 4, 3, 2, 1]

In [ ]:
# frozenset

f2 = frozenset(p1)

f2

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
f2.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [ ]:
f5

[1, 3, 4, 5]

In [192]:
# del keywords

del p1

In [195]:
p1

[1, 2, 3, 4, 5, 6]

In [ ]:
f5

NameError: name 'f5' is not defined

In [ ]:
p1

[1, 2, 3, 4, 5, 6]

In [ ]:
del p1

In [ ]:
p1

NameError: name 'p1' is not defined

In [196]:
U1 = [20,30,80,90,65]
U1

[20, 30, 80, 90, 65]

In [197]:
U1

[20, 30, 80, 90, 65]

In [198]:
del U1[0]

In [ ]:
U1

[30, 80, 90, 65]