In [8]:
# labwork-4.1 #
#=============#

#que-1
#take user input and join them in list

f_name=input("ENTER YOUR FIRST NAME:")
l_name=input("ENTER YOUR LAST NAME:")


print(f"Hello {l_name.upper()} {f_name.upper()}!")

Hello UMARETIYA MIT!

In [1]:
#que-2
#replace function

item=input("ENTER ITEM NAME:")
price=input("ENTER PRICE IN DOLLERS ($):")

print(f"The price of {item} is {price} $ dollers")

r_item=(item.replace(item,"apple"))
r_price=(price.replace(price,"5.50"))

print("\nAFTER REPLACE:")
print(f"The price of {r_item} is {r_price} $ dollers")

The price of banana is 30 $ dollers

AFTER REPLACE:
The price of apple is 5.50 $ dollers

In [5]:
#que-3
#string reverce and pelindrome checking

string=input("Enter string for pelindrome checking:")

reverce_string=string[::-1]

print("ORIGINAL:",string)
print("REVERCDED:",reverce_string)


if string==reverce_string:
    print("This string is pelindrome")

else:
    print("This string is not pelindrome")

ORIGINAL: hello
REVERCDED: olleh
This string is not pelindrome

In [7]:
#que-4
#string uppercase, lowercase, titlecase

string=input("ENTER STRING:")

uppercase=string.upper()
lowercase=string.lower()
titlecase=string.title()

print("Uppercase:",uppercase)
print("Lowercase:",lowercase)
print("Titlecase:",titlecase)

Uppercase: HELLO WORLD
Lowercase: hello world
Titlecase: Hello World

In [17]:
#que-5
#list append the integers

list=[1,2,3,4,5,6,7,8,9,10]

print(list)

list.append([11,12])
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [19]:
#que-6
#take list from user and find highest and smallest value in list

number_list=[]

for i in range(10):
    number_list.append(int(input("Enter the 10 integer valuse:")))

print("Original_list:",number_list)

small=min(number_list)
high=max(number_list)

print("Small value:",small)
print("High value:",high)

Original_list: [10, 20, 30, 40, 50, 30, 60, 90, 80, 40]
Small value: 10
High value: 90

In [45]:
#que-7
#make tuple and print unique values

tuple_value=(1,2,2,3,4,4,5)

print("Original value:",tuple_value)

unique=set(tuple_value)
print("Unique value:",unique)

Original value: (1, 2, 2, 3, 4, 4, 5)
Unique value: {1, 2, 3, 4, 5}

In [35]:
#que-8
#modify list and print new list

list=[10,20,30,40,50]

print("Original:",list)

list[3]=60
print("Updated:",list)

Original: [10, 20, 30, 40, 50]
Updated: [10, 20, 30, 60, 50]

In [39]:
#que-9
#modify inner list and print new list

list=[1,[2,3],4,5]

print("Original:",list)

list[1]=[6,7,8,9]
print("Updated:",list)

Original: [1, [2, 3], 4, 5]
Updated: [1, [6, 7, 8, 9], 4, 5]

In [58]:
#que-10
#adding removing and replacing in list

n_list=["abc",True,40,'hello',"PYTHON",999,50.4,'world!',False]

print("list:",n_list)

print("==== LIST OPERATION ====")
print("1.ADD DATA")
print("2.REMOVE DATA")
print("3.REPLACE")

ch=int(input("Enter your choise:"))

match ch:
    case 1:
        n_list.append(input("ENTER DATA TO ADD IN LIST:"))
        print("\nAdd:",n_list)

    case 2:
        n_list.remove(input("ENTER DATA TO REMOVE IN LIST:"))
        print("\nRemove:",n_list)

    case 3:
        replace_pos=int(input("Enter replace position:"))
        n_list[replace_pos]=(input("ENTER DATA TO REPLACE IN LIST:"))
        print("\nReplace:",n_list)

list: ['abc', True, 40, 'hello', 'PYTHON', 999, 50.4, 'world!', False]
==== LIST OPERATION ====
1.ADD DATA
2.REMOVE DATA
3.REPLACE

Replace: ['abc', True, 40, '40', 'PYTHON', 999, 50.4, 'world!', False]

In [64]:
#que-11
#tuple of three list

tpl=([1,2],[3,4],[5,6])
tpl

tpl[1][0]=7
tpl[1][1]=8
tpl

([1, 2], [7, 8], [5, 6])

In [6]:
#que-12
#swap to variable using third variable

a=10
b=20
print("original:")
print("A =",a)
print("b =",b)

c=b
b=a
a=c
print("After swap:")
print("A =",a)
print("B =",b)

original:
A = 10
b = 20
After swap:
A = 20
B = 10

In [2]:
#que-13
#swap to variable using

a=10
b=20
print("original:")
print("A =",a)
print("b =",b)

b=b-a
a=b+a

print("After swap:")
print("A =",a)
print("B =",b)

original:
A = 10
b = 20
After swap:
A = 20
B = 10