In [4]:
# labwork-4.2 #
#=============#

#que-1
#set 

my_set={1,2,3,4,6,7,8,9,10}

print(my_set)

my_set.add(5)
my_set.add("hello")

print("Add:-",my_set)

my_set.remove(6)
my_set.remove("hello")

print("Remove:-",my_set)

{1, 2, 3, 4, 6, 7, 8, 9, 10}
Add:- {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello'}
Remove:- {1, 2, 3, 4, 5, 7, 8, 9, 10}

In [ ]:
#que-2
#dictionary

my_dictionary={
    'name':'alice',
    'age':'15',
    'city':'new york',
}

my_dictionary

#add
my_dictionary['study']='RED & WHITE'
print("Add:",my_dictionary)

#update
my_dictionary['study']='RNW'
print("Update:",my_dictionary)

#remove
my_dictionary.pop('age')
print("Remove:",my_dictionary)

In [ ]:
#que-3
#list to set
llist=[]
for i in range(10):
    llist.append(int(input("Enter the any 10 integers")))

print("list:",llist)

# Converting list to set
myset = set(llist)

print("Unique value:", sset)

list: [1, 2, 3, 4, 5, 6, 1, 2, 3, 4]
Unique value: {1, 2, 3, 4, 5, 6}

In [18]:
#que-4
#dictionary

product={
    'laptop':70000,
    'mobile':20000,
    'computer':25000,
    'acceseries':10000,
    }

print(product)

if product:
    maximum=max(product.values())
    print(f"\nProduct with the highest price:(${maximum})")
else:
    print("The product list is empty.")

{'laptop': 70000, 'mobile': 20000, 'computer': 25000, 'acceseries': 10000}

Product with the highest price:($70000)

In [9]:
#que-5
#dictionary

frequency=input("Enter string:")

dict={}

for char in frequency:
    if char in dict:
        dict[char]+=1
    else:
        dict[char]=1
    
print("Frequency:",dict)

Frequency: {'h': 1, 'e': 1, 'l': 2, 'o': 1, 'A': 1, 'B': 1, 'C': 1}

In [3]:
#que-6
#comments

#this is single line comment

"""this is multi line comment"""

#in line comment

num=[1,2,3,4,5]
                #in line comment
total=sum(num) #sum function is used to sum of all numbers

print("Sum is:",total)

Sum is: 15

In [11]:
#que-7
#fectorial

num=int(input("Enter the fectorial number:"))
#take number from user

fect=1
#declare variable with value 1

for i in range(1,num+1): #take loop for find fectorial with range number+1
    fect=fect*i     #fect * i ( fect = 1*2*3*4...*n )

print(f"Fectorial of {num} is :{fect}")     #print fectorial

Fectorial of 5 is :120

In [3]:
#que-8
#find area of rectangle

length=float(input("Enter length:"))
width=float(input("Enter width:"))

rectengle=length*width

print("Area of rectengle:",rectengle)

Area of rectengle: 320.0

In [8]:
#que-9
#data types

mlist=[1,2,"hello",'python',True,60]

mset=set(mlist)

mtuple=tuple(mset)

print(type(mlist),mlist)
print(type(mset),mset)
print(type(mtuple),mtuple)

<class 'list'> [1, 2, 'hello', 'python', True, 60]
<class 'set'> {1, 2, 'hello', 'python', 60}
<class 'list'> [1, 2, 'hello', 'python', 60]

In [3]:
#que-10
#data types 

str=input("Enter string")

mlist=list(str)
print(type(mlist),mlist)

mlist=set(list(str))
print(type(mlist),mlist)

mlist=tuple(set(list(str)))
print(type(mlist),mlist)

<class 'list'> ['1', '2', '3', '4', '5']
<class 'set'> {'5', '1', '4', '3', '2'}
<class 'tuple'> ('5', '1', '4', '3', '2')

In [24]:
#que-11
#data types

my_dictionary={
    'name':'alice',
    'age':'15',
    'city':'new york',
}

print(type(my_dictionary),my_dictionary,"\n")

print("list of key:",list(my_dictionary))
print("set of key:",set(my_dictionary),"\n")

print("list of value:",list(my_dictionary.values()))
print("tuple of value:",tuple(my_dictionary.values()),"\n")

<class 'dict'> {'name': 'alice', 'age': '15', 'city': 'new york'}

list of key: ['name', 'age', 'city']
set of key: {'name', 'age', 'city'}

list of value: ['alice', '15', 'new york']
tuple of value: ('alice', '15', 'new york')

In [38]:
#que-12
#find dublicate values from list

mlist=['hello','python',1,2,3,True,1,3,'hello',True,False]

print("list is:",mlist)

mset=list(set(mlist))

print("unique value is:",mset)

list is: ['hello', 'python', 1, 2, 3, True, 1, 3, 'hello', True, False]
unique value is: [False, 1, 2, 3, 'python', 'hello']

In [39]:
#que-13
#set to dictionary

s={1,2,3,4,5}

dict={i : i*i for i in s}

print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}