In [1]:
print("Hello")

Hello

In [32]:
print("LOVE PRAJAPATI" , "--" , "NISARG PATEL")

LOVE PRAJAPATI -- NISARG PATEL

In [5]:
print("LOVE PRAJAPATI" , "NISARG PATEL" , sep= " , ")

LOVE PRAJAPATI NISARG PATEL

In [2]:
print("Hello"); print("world");

Hello
world

In [6]:
print("Hello" , end="\n") ; print("world")

Hello
world

In [36]:
print("Hello" , end=" @@ ") ; print("world")

Hello @@ world

In [ ]:
name = "xyz"

print(name)

xyz

In [38]:
type(name)

str

In [1]:
# input Data from User
# print("Enter you Data Please:-")
Data = float(input("Enter you Data Please:-"))

Data_1 = input("Enter you Data Please:-")



print("Enter you Data Please:-" ,  Data_1)

Enter you Data Please:- 56

In [40]:
type(Data_1)

str

In [41]:
print(input())

12

In [ ]:
b = None

In [43]:
b = input("Enter you Data Please:-")

b

'12'

In [44]:
type(b)

str

In [ ]:
red = int(input("Enter you Data Please:-"))

print(red)

5

In [ ]:
# int x;
a = 5
a
# print(a)

5

In [ ]:
x  = float(input("Enter any  value : "))
y  = int(input("Enter any  value : "))

print("Sum is", x + y)

Sum is 108.0

In [ ]:
x = 120 # int

y = 4.2  # float
 
z = "Hello"  # str

print(type(x))

print(type(y))

print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:

print(id(x))

print(id(y))

140728970158600
2513596822128

In [ ]:
z1 = "Hello"

z2 = 'hello'

z3 = '''hello
my name is mayur
good'''

print(z1)
print(z2)
print(z3)

Hello
hello
hello
my name is mayur
good

In [ ]:
z3
z2

'hello'

In [1]:
p  = 3 + 5j

print(type(p))
p

<class 'complex'>

(3+5j)

In [ ]:
D = 0 + 7j
print(type(D))

<class 'complex'>

In [47]:
s = '123'
print(type(s))

<class 'str'>

In [49]:
ans = int(float(s))
print(type(ans))
ans

<class 'int'>

123

In [ ]:
P1 = float(input("Enter your value 1"))
p2 = int(input("Enetr your value 2"))

print(P1 - p2)

-42.0

In [ ]:
complex(9,)

(9+0j)

In [17]:
complex(9 , 4)

(9+4j)

In [18]:
print(ord("a"))
print(ord("c"))

97
99

In [ ]:
print(chr(65))
print(chr(97))

A
a

In [ ]:
print(bin(97))

0b1100001

In [ ]:
print(oct(12))

0o14

In [50]:
print(oct(15))

0o17

In [18]:
print(hex(15))

0xf

In [9]:
D1 = 7 
D2 = 2

# print(D1+D2)

# print(D1-D2)

# print(D1**D2)

# print(D1/D2)

# print(D1//D2)

# power of any value

print(D1)

print(15/4)

print(15//4)

7
3.75
3

In [5]:
# Python program to demonstrate the use of floor() method

# This will import math module
import math

# prints the ceil using floor() method
print ("math.floor(-23.11) : ", math.floor(-23.11))
print ("math.floor(300.16) : ", math.floor(300.16))

print ("math.floor(300.72) : ", math.ceil(300.72))

math.floor(-23.11) :  -24
math.floor(300.16) :  300
math.floor(300.72) :  301

In [4]:
O1 = 2
print(O1)

2

In [5]:
O1 =  O1 + 5
print(O1)

7

In [7]:
O1 += 5
print(O1)


O1 %= 5
print(O1)

65
0

In [9]:
t1 = 5
t2 = 5.0

print(t1 is t2)
print(t1 == t2)

False
True

In [3]:
f1 = 7
f2 = 4

f1 >= f2

True

In [4]:
f1 > f2 and f1 < f2

False

In [ ]:
f1 > f2 or f1 < f2

True

In [ ]:
not f1 < f2

True

In [ ]:
t1 is t2

False

In [14]:
G1 = 5
G2 = 5.0

print(G1 == G2)
print(G1 is G2)
print(G1 is not G2)

True
False
True

In [13]:
print(id(G1))
print(id(G2))

140712162399144
140712162399144

In [16]:
s1 = "hello Rnw"

"H" not in s1

True

In [12]:
G1 = 10
G2 = 10

print(id(G1))
print(id(G2))

140732203111496
140732203111496